
name = input("Please enter your name ")
address = input("Please enter your firstline of address ")
postcode = input("Please enter your postcode ")

payrate = input("Please enter your hourly pay £")
hours = input("Please enter how many hours you worked this week ")

nat_insurance = input("Enter the national insurance percentage ")
pay_tax = input("Enter the tax percentage ")

overall = float(payrate) * float(hours)

take_nat_insurance = overall / 100 * int(nat_insurance)
take_tax = overall / 100 * int(pay_tax)

deducted_amount = take_nat_insurance + take_tax

after_tax = overall - deducted_amount

print("Name " , name)
print("Address " , address)
print("Postcode " , postcode)
print("You have worked " , hours , "hours this Week")
print("Your pay for this week WITHOUT tax deductions is £" , overall)
print("The national insurance percentage is " , nat_insurance)
print("The tax percentage is " , pay_tax)
print("Amount of National Insurance paid £" , take_nat_insurance)
print("Amount of Tax Paid £" , take_tax)
print("Total Amount deducted £" , deducted_amount)
print("Your pay for this week WITH tax deductions is" , after_tax)
